.col-newsCard{
    text-justify: distribute;
    /* background-color: rgb(202, 243, 243); */
    text-align: center;
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 8px;
    border-color: solid blueviolet;
    position: relative;
    min-height: 140px;
    margin-top: 1%;
    background-color: rgb(215, 240, 190);
    -webkit-box-shadow: 3px 3px 5px 6px #ccc;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow:    3px 3px 5px 6px #ccc;  /* Firefox 3.5 - 3.6 */
  box-shadow:        3px 3px 3px 4px rgb(194, 191, 191);
}
.header {
    background-color: #c472ec;
    color: #ffffff;
    padding: 7px;
  }
.clickLink{
    margin-left: -70%;
}

.col-imgDiv{
    margin-top: 5px;
    left: 1%;
    top: 2%;
    text-align: center;
    

}
img {
    border-radius: 8px;
    margin-top: 2%;
  }
.buttonNext{
    background-color: rgb(53, 158, 4); /* Green */
  border: none;
  color: rgb(236, 236, 243);
  padding: 20px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  margin-left: 80%;
  border-radius: 10%;

}
.buttonBack{
    background-color: rgb(99, 108, 247); /* Green */
  border: none;
  color: rgb(241, 241, 247);
  padding: 20px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  margin-left: 15%;
  position: absolute;
  border-radius: 10%;

}
.btn{
    position: relative;
}
.newsData{
    margin-left: 30%;
}
h4{
    font-style: italic;
}

[class*="col-"] {
    width: 100%;
  }